body {
    margin: 0;
    line-height: 1.5;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    font-size: 1.5em;
    position: relative;
    margin-bottom: 30px;
    line-height: 70px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

h2, h3, h4, h5, h6 { margin-bottom: 20px; margin-top: 50px; padding-top: 25px; border-top: 1px solid #eee; }

a {
    text-decoration: underline;
    color: #333;
}

a:visited {
    text-decoration: none;
    color: #333;
}

a:hover, a:focus {
    color: #099;
    text-decoration: none;
}

header a {
    color: #333;
    text-decoration: none;
}

#title {
    display: inline-block;
    padding-left: 30px;
    padding-right: 0;
    font-weight: 400;
}

#title a {
    display: inline-block;
    font-weight: 700;
}

#menu {
    position: absolute;
    top: 0;
    right: 30px;
    height: 100%;
    vertical-align: middle;
}

#menu a {
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
    height: 100%;
}

main, footer {
    margin-left: 10vw;
    margin-right: 10vw;
    width: 60%;
}

main {
    position: relative;
    min-width: 300px;
    padding: 0 0 30px;
    color: #333;
    font-size: 1.1rem;
    margin-bottom: 10vh;
}

@media (min-width: 550px) {
    main { width: 80%; }
}

pre {
    border-left: 2px solid #099;
    padding: 5px 0 5px 20px;
    font-size: 1rem;
    margin: 20px 0 40px;
    font-family: monospace;
}

footer {
    color: #abc;
    padding: 30px 0;
    text-align: center;
}

ol {
    list-style-type: decimal-leading-zero;
}

.cc {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

div.example {
    text-align: center;
    position: relative;
    box-sizing: border-box;
    display: inline;
}

a.sclink {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    font-size: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 496px;
    margin-bottom: 20px;
    margin-top: 20px;
}

blockquote {
    border-left: 2px solid #900;
    padding-left: 1em;
    margin: 20px 0 40px;
}

.btn {
    background: #099;
    border: #099;
    color: #333;
    margin-bottom: 1rem;
    display: inline-block;
    height: 38px;
    max-height: 38px;
    padding: 0 30px;
    text-align: center;
    letter-spacing: .1rem;
    line-height: 38px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 12px;
    border-radius: 4px;
    min-width: 170px;
    margin-right: 10px;
}
.btn:visited {
    color: #fff;
}

.btn:hover, .btn:focus {
    background-color: #400a77;
    text-decoration: underline;
}

@media(min-width: 1000px) {
    .twocolumn {
        display: grid;
        gap: 50px;
        grid-auto-rows: minmax(100px, auto);
        grid-template-columns: repeat(2, 1fr);
    }

    .guide-grid {
        display: grid;
        gap: 50px;
        grid-auto-rows: minmax(100px, auto);
        grid-template-columns: repeat(3, 1fr);
    }

    .guide-grid > a > div {
        border: 1px solid #333;
        min-height: 325px;
    }
}

@media(max-width: 999px) {
    .guide-grid > a > div {
        margin-bottom: 50px;
    }
}


.guide-grid > a > div {
    text-align: center;
}

.guide-grid img {
    width: 200px;
    height: 200px;
}

.guide-grid h4 {
    margin-top: 20px;
}

.hljs-keyword { color: #099; }
.hljs-string { color: goldenrod; }
.hljs-number { color: darkred; }