body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.35;
}

iframe {
    width: 100%;
    min-height: 500px;
    height: calc(100% - 20px);
    padding: 0;
    margin: 0;
    border: none;
}

.CodeMirror {
    min-height: 500px;
    font-size: 14px;
    height: calc(100% - 20px);
}

.row {
    display: grid;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(2, 1fr);
}

div.canvas {
    width: 49vw;
    height: calc(90vh - 20px);
    position: absolute;
    top: calc(10vh + 20px);
}

div.editor {
    width: 49vw;
    position: absolute;
    top: calc(10vh + 20px);
    left: 50vw;
    bottom: 0;
    overflow: hidden;
}

nav.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    margin-bottom: 20px;
    border-bottom: 1px solid #333;
}

.toolbar-item {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    height: 10vh;
    line-height: 10vh;
    padding: 0 20px;
    color: #099;
    cursor: pointer;
}

.pull-r {
    float: right;
}

.toolbar-item:hover, .toolbar-item:focus {
    background-color: #099;
    color: #fff;
}

.cm-s-amelia .cm-keyword { color: #099; }
.cm-s-amelia .cm-string { color: goldenrod; }
.cm-s-amelia .cm-number { color: darkred; }