body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    font-family: "open sans", helvetica, arial, sans-serif;
    font-weight: 300;
    font-size: 1rem;
}
main { max-width: 650px; min-width: 320px; margin: 0 auto; padding: 0 40px; }
.container {
    width: 80%;
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.center { text-align: center; }
h1, h2, h3, h4, h5, h6 {
    font-family: "open sans condensed";
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.09rem;
    margin-bottom: 20px;
}
h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; margin-top: 50px; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.7rem; }
h5 { font-size: 1.5rem; }
h6 { font-size: 1.3rem; }
a { font-weight: 100; color: #099; text-decoration: none; }
a:hover, a:focus { color: #066; }
footer { text-align: center; }
small { color: #333; font-weight: 100; }
#canvas {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
ol { list-style-type: decimal-leading-zero; }

.amg-header { min-height: 40vh; position: relative; }

.container img {
    max-width: 497px;
    width: 100%;
    border: 0;
}

.amg-header img {
    filter: brightness(0.5) blur(0.2px);
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

.amg-header div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.amg-header h1 { color: #fff; }

code, pre { background-color: #f9f9f9; }

.disclaimer {
    background: darkred;
    color: #fff;
    padding: 0.25em;
    margin: 0 1em 1.5em 1em;
    font-size: 1rem;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.columns {
    margin-left: 4%;
    float: left;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.columns img {
    max-width: 70%;
    text-align: center;
    margin: 2.5rem auto 0;
    display: block;
}

@media (min-width: 550px) {
    .container { width: 80%; }
    .four.columns { width: calc(80% / 12 * 4); }
}